@import "tailwindcss";
@plugin "./hero.ts";

@source "../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-primary/10 selection:text-primary;
  }
  button:not(:disabled) {
    @apply cursor-pointer;
  }
}
