@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-primary/10 selection:text-primary;
  }
  button:not(:disabled) {
    @apply cursor-pointer;
  }
}
